@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap');

:root {
    --main-color: #F3F5FC;
    --secondary-color: #FFFFFF;
    --tertiary-color: #0A3871;
    --quaternary-color:#D8DFE8;
    --title-color: #343A40;
    --text-color: #495057;

    --main-font : 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

body {
    box-sizing: border-box;
    background-color: var(--main-color);
    padding: 16px;
    padding-bottom: 5rem;
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

.page-header {
    padding-top: 24px;
    padding-bottom: 48px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.section-main, .section-result {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
}

.section-main textarea, .section-result textarea {
  color: var(--tertiary-color);
}

.section-main > .section-main-buttons,
.section-result > .section-main-buttons {
  display: flex;
  gap: 24;
  flex-direction: column;
  flex-wrap: nowrap;
}

.section-main {
    flex: 1;
}

.section-main-alert {
    display: flex;
    align-items: center;
}

.section-main-alert > p {
    padding-left: 8px;
    color: var(--text-color);
}

.section-result {
    padding: 32px;
    margin-top: 64px;
}

textarea {
    flex: 1;
    font-size: 32px;
    line-height: 150%;
    font-style: normal;
    font-weight: 400;
    border: none;
    outline: none;
    background: transparent;
    color: var(--tertiary-color);
}

.section-result {
    margin-top: 24px;
    border-radius: 32px;
    background: var(--secondary-color);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.5);
}

input[type=button] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    display: flex;
    padding: 24px;
    justify-content: center;
    margin-top: 24px;
    align-self: stretch;
    border-radius: 24px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

input[type=button].btn-criptografar {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

input[type=button].btn-descriptografar, input[type=button].btn-copy {
    background-color: transparent;
    border: 1px var(--tertiary-color) solid;
    color: var(--tertiary-color);
}

input[type=button].btn-descriptografar:active, input[type=button].btn-copy:active {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

input[type=button]:active {
    filter: hue-rotate(45deg) drop-shadow(0 0 0.4em #ccc);
}

.section-result-card {
    flex: 1;
}

.section-result-card, .section-result-start {
  display: flex;
  flex-direction: column;
}

.section-result-start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    text-align: center;
}

.section-result-start img {
    display: none;
}

.section-result-start > p:nth-child(0) {
    color: var(--text-color);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    color: var(--main-color);
    background-color: var(--tertiary-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 400;
}

.page-footer a {
    text-decoration: none;
    color: var(--main-color);
}

@media only screen and (min-width: 992px) {
    body, .main-container {
        flex-direction: row;
    }

    .main-container {
        width: 100%;
        align-items: start;
        gap: 24px;
        margin-bottom: 24px;
        padding-right: 48px;
        align-items: stretch;
    }

    .section-main, .section-result {
    min-height: unset;
    padding-top: 24px;
    width: unset;
    }

    .section-main > textarea, .section-result > textarea {
      flex: 1;
    }

    .section-main {
        flex: 1;
        padding-top: 128px;
        padding-left: 64px;
        padding-right: 64px;
        margin-left: 64px;
    }
    
    .section-result {
        max-width: 30%;
    }

    .section-main-buttons {
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .section-main-buttons > input[type=button] {
        flex: 1;
        align-self: auto;
    }

    .section-result-start {
        flex: 1;
    }

    .section-result-start > img {
        display: block;
    }
}
